<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="d-flex" mat-dialog-container>
    <h2 mat-dialog-title>{{ getTitle() }}</h2>
    <i class="bi bi-x close-button base-button" (click)="close()"></i>
  </div>

  <div class="line"></div>

  <div mat-dialog-content>
    <div class="form-content">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="form.controls['name'].hasError('required')"
          >Name is a required field.</mat-error
        >
      </mat-form-field>

      <div style="display: flex; align-items: center; margin: 10px 0px">
        <mat-slide-toggle
          formControlName="isAvailable"
          class="me-3"
        ></mat-slide-toggle>
        <span>Is available?</span>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button
      type="submit"
      class="base-save-button"
      [class.button-disabled]="isLoading"
      mat-button
    >
      Save
    </button>
  </div>
</form>
