<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="d-flex" mat-dialog-container>
    <h2 mat-dialog-title>{{ getTitle() }}</h2>
    <i class="bi bi-x close-button base-button" (click)="close()"></i>
  </div>

  <div class="line"></div>

  <div mat-dialog-content>
    <div class="form-content">
      <mat-form-field>
        <mat-label>Start schedule</mat-label>
        <input matInput type="time" formControlName="start" />
        <mat-error *ngIf="form.controls['start'].hasError('required')"
          >Start schedule is a required field.</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>End schedule</mat-label>
        <input matInput type="time" formControlName="end" />
        <mat-error *ngIf="form.controls['end'].hasError('required')"
          >End schedule is a required field.</mat-error
        >
      </mat-form-field>

      <div style="display: flex; align-items: center; margin: 10px 0px">
        <mat-slide-toggle
          formControlName="isFreeDay"
          class="me-3"
          (change)="onSlideToggleChange()"
        ></mat-slide-toggle>
        <span *ngIf="form.controls['isFreeDay'].value">Free day.</span>
        <span *ngIf="!form.controls['isFreeDay'].value">Work day.</span>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button type="submit" class="base-save-button" mat-button>Save</button>
  </div>
</form>
